/* Variables */
$font-brand: "Pacifico", cursive;
$font-header: "Signika Negative", sans-serif;
$font-text: "Inconsolata", monospace;
$font-number: "Abril Fatface", monospace;
$color-one: gold;
$color-two: grey;
$color-three: #ff5252;
$color-four: black;
$color-five: #fff;
$transition: all 1s;

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  color: $color-four;
  font-family: $font-text;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
section {
  padding: 30px 0;
}
.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24 auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: $font-text;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: $transition;
}

.btn-one {
  border-color: $color-one;
  color: $color-five;
  background-image: linear-gradient(90deg, $color-one 50%, transparent 50%);
}

section .title,
.description {
  text-align: center;
}
section .title {
  font-size: 30px;
  font-family: $font-number, monospace;
  margin: 40px 0 0 0;
}
section .description {
  font-size: 12px;
  font-family: $font-text;
  color: $color-two;
  margin: 5px 0 40px 0;
  font-weight: normal;
}
section .card-text {
  font-size: 12px;
  color: $color-two;
  font-family: $font-text;
  font-weight: normal;
  margin: 10px 0;
}
section .card-title {
  font-size: 18px;
  margin: 18px 0;
}

/* Navigation */

.navigation .btn:hover {
  background-position: 0 100%;
  color: $color-four;
}

.navigation {
  background-image: url("https://images.unsplash.com/photo-1517457210348-703079e57d4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: $color-five;
  min-height: 500px;
  // display: flex;
  position: relative;

  // background-color: #312f2f;
  padding: 12px 0;
  color: $color-five;
}
.navigation ul {
  padding: 0;
  margin: 0;
  margin-left: 400px;
  list-style-type: none;
}
.navigation .container {
  display: flex;
}
.navigation .brand {
  color: $color-one;
  font-size: 30px;
  font-family: $font-brand;
  font-style: oblique;
  cursor: pointer;
}

.navigation .brand:hover {
  color: $color-five;
}
/* link pierwszego poziomu */
.navigation li {
  display: inline-block;
  margin-right: 36px;
  position: relative;
  font-size: 16px;
}

.navigation a {
  text-decoration: none;
  color: $color-five;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
}
.navigation a:hover {
  color: $color-one;
}

/* Splash*/
// .splash::before {
//   width: 100%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.6);
//   position: absolute;
//   content: "";
//   display: block;
// }

.splash {
  // background-image: url("https://images.pexels.com/photos/908298/pexels-photo-908298.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  // background-position: center center;
  // background-size: cover;
  // background-attachment: fixed;
  color: $color-five;
  min-height: 500px;
  display: flex;
  position: relative;
}
.splash-inner {
  margin: auto;
  max-width: 70%;
  text-align: center;
  // z-index: 1;
}
.page-title {
  margin: 0;
  font-size: 30px;
  line-height: 1.2;
  font-style: oblique;
}
.page-subtitle {
  margin: 24px 0;
  font-weight: 900;
  font-size: 43px;
  font-family: $font-number, monospace;
}

/* Services */

.services i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: $color-one;
  border-style: solid;
  line-height: 40px;
  color: $color-one;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.services i:hover {
  color: $color-four;
}

.col-md-4 {
  text-align: center;
}

/* Portfolio */
.portfolio {
  background: whitesmoke;
  text-align: center;
}
.portfolio .card-body {
  margin: 0 10px;
  background: white;
  max-width: 300px;
}

.card.col-md-4 {
  width: 100%;
  padding: 30px;
  margin-bottom: 50px;
}

.card-img {
  height: 350px;
  width: 300px;
}
.portfolio .card-title {
  margin: 18px 0 0 0;
}
.portfolio .card-text {
  margin: 0 0 10px 0;
}

/* Footer */

.footer ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.footer a {
  display: flex;
  width: 16px;
  height: 16px;
  font-size: 0;
  color: black;
}

.footer li {
  font-size: 0;
  display: flex;
  padding: 10px 10px 10px 0;
}
.footer i {
  font-size: 16px;
  color: black;
}
